Repository grafana/docs-plugin, pull requests merged in 2025-09, with the labels that each got.

#133 fix(context): removed duplicate debouncing systems
  src/constants/interactive-config.ts
  src/utils/context/context.hook.ts
  src/utils/context/context.init.ts
  src/utils/context/context.service.ts
  src/utils/context/index.ts
  src/utils/global-interaction-blocker.ts
  src/utils/requirements-checker.hook.ts
  src/utils/step-checker.hook.ts
  src/utils/timeout-manager.ts
Labels: area/context-engine, area/ui

#144 fix(interactive): Add skip feature for non essential interactives
  src/bundled-interactives/first-dashboard.ts
  src/bundled-interactives/welcome-to-grafana-cloud.ts
  src/bundled-interactives/welcome-to-grafana.ts
  src/constants/interactive-config.ts
  src/styles/interactive.styles.ts
  src/types/interactive.types.ts
  src/utils/docs-retrieval/components/interactive/interactive-multi-step.tsx
  src/utils/docs-retrieval/components/interactive/interactive-section.tsx
  src/utils/docs-retrieval/components/interactive/interactive-step.tsx
  src/utils/docs-retrieval/content-renderer.tsx
  src/utils/docs-retrieval/html-parser.ts
  src/utils/dom-utils.test.ts
  src/utils/dom-utils.ts
  src/utils/interactive.hook.ts
  src/utils/navigation-manager.ts
  src/utils/requirement-explanations.ts
  src/utils/requirements-checker.hook.test.ts
  src/utils/requirements-checker.hook.ts
  src/utils/requirements-checker.utils.ts
  src/utils/step-checker.hook.ts
Labels: area/interactives

#148 enable rendering of button/grid/box components
  src/styles/content-html.styles.ts
  src/utils/docs-retrieval/content-renderer.tsx
Labels: area/docs-renderer

#168 feat(ui): added Pathfinder to search bar
  src/module.tsx
  src/plugin.json
Labels: area/ui, area/grafana

#187 feat(interactives): Adds hover over interaction
  docs/interactive-examples/complex-selectors.md
  src/bundled-interactives/prometheus-grafana-101.ts
  src/constants/interactive-config.ts
  src/utils/action-handlers/hover-handler.ts
  src/utils/action-handlers/index.ts
  src/utils/docs-retrieval/components/interactive/interactive-section.tsx
  src/utils/docs-retrieval/components/interactive/interactive-step.tsx
  src/utils/interactive.hook.test.ts
  src/utils/interactive.hook.ts
Labels: area/interactives
